* {
	margin: 0;
	padding: 0;
    font-family: "Roboto", sans-serif;
	box-sizing: border-box; 
}
body {
	background-color: #f2f4f5;
    display:flex;
    flex-direction: column;
    height: 100vh; /* Wysokość całego widoku przeglądarki */
    overflow-x: hidden; /* Ukrywa poziomy pasek przewijania */
  
}
h1 {
    position: absolute;
    top: 20%; /* odleglosc od gornej krawedzi*/
    left: 50%; /* Połowa szerokości */
    transform: translate(-50%, -50%); /* punkt centralny elementu h1 jest dokladnie w miejscu okreslonym wyzej */
    text-align: center;
    color: #333;
}
header {
	background-color: #572b53;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left,
.right {
	display: flex;
}
.logo{
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    line-height: 1;
    height: 50px; /* Wymuszenie stałej wysokości */
    display: flex;
    align-items: center; 
    padding: 20px 30px;
    color: white;
	text-decoration: none;
}
a.menu {
	padding: 20px 30px;
	color: white;
	text-decoration: none;
	align-items: center;
	transition: all 0, 5s ease;
}


