/*paleta kolorów do używania
.color1 {color: #572b53;}
.color2 {color: #7c355c;}
.color3 {color: #b2496a;}
.color4 {color: #f96c79;}
.color5 {color: #ffa485;}



.color1 {color: #243561;}
.color2 {color: #604081;}
.color3 {color: #b155a2;}
.color4 {color: #ff77be;}
.color5 {color: #ffa5d4;}
*/
*{
    margin:0 ;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;/*zmienić na coś ciekawszego*/
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 241, 240);
}
header{
    background-color: #572b53;
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px,30px;
}
.left,
.right {
    display: flex;         
}
a.menu{
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    align-items: center;
    transition: all 0,5s ease;
    
}
a.menu:hover{
    background-color: #7c355c;
    cursor: pointer;
}
a.active{
    background-color:  #472645;
}

   