

* {
	margin: 0;
	padding: 0;
    font-family: "Roboto", sans-serif;
	box-sizing: border-box; 
}
body {
	background-color: #f2f4f5;
    display:flex;
    flex-direction: column;
  
}
header {
	background-color: #572b53;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left,
.right {
	display: flex;
}
.logo{
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    line-height: 1;
    height: 50px; /* Wymuszenie stałej wysokości */
    display: flex;
    align-items: center; 
    padding: 20px 30px;
    color: white;
	text-decoration: none;
}
a.menu {
	padding: 20px 30px;
	color: white;
	text-decoration: none;
	align-items: center;
	transition: all 0, 5s ease;
}
a.menu:hover {
	background-color: #7c355c;
	cursor:pointer;
}
a.active {
	background-color: #472645;
}
nav {
    padding-top:50px;
	background-color: #f2f4f5;
	display: flex;
	align-items: center;
	height: 100px;
	margin-left: 20px;
    
}

.top-bar{
    text-align: center;
    margin-bottom: 20px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    width: 1300px;
}
fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
button {
    width: calc(100% - 20px);
   
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: #ff00aa;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e60095;
}
h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:x-large;
}
footer p2{
    text-align: center; 
    font-size: 20px;
    width: 60%;
    color:rgb(53, 53, 53);
    margin: 10px auto; 
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 1.6; 
}
.hidden {
    display: none;
}
input, select {
   
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.security-info p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.payment-container p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.payment-container h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.payment{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
footer{
    background-color: #f8c7ed;
    align-items: center;
    margin-top: auto;
    width: 100%; /* Stopka będzie miała pełną szerokość */

}
footer p {
    text-align: center; 
    font-size: 10px;
    width: 60%;
    color:rgb(53, 53, 53);
    margin: 10px auto; 
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 1.6; 
}